/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 100 version
*/

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.5;
}

html {
    font-size: 62.5%;
}
@media only screen and (max-width: 62.5em) {
    html {
        font-size: 57%;
    }
}

body {
    font-size: 1.5rem;
    font-family: "Spartan", sans-serif;
}

.bg-pattern-top {
    height: -webkit-calc(36.2rem * 1.2);
    height: -moz-calc(36.2rem * 1.2);
    height: calc(36.2rem * 1.2);
    width: -webkit-calc(58.4rem * 1.2);
    width: -moz-calc(58.4rem * 1.2);
    width: calc(58.4rem * 1.2);
    background-image: url(../images/bg-pattern-top-desktop.svg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
@media only screen and (max-width: 75em) {
    .bg-pattern-top {
        height: 36.2rem;
        width: 58.4rem;
    }
}
@media only screen and (max-width: 37.5em) {
    .bg-pattern-top {
        background-image: url(../images/bg-pattern-top-mobile.svg);
    }
}

.bg-pattern-bottom {
    height: -webkit-calc(36.2rem * 1.2);
    height: -moz-calc(36.2rem * 1.2);
    height: calc(36.2rem * 1.2);
    width: -webkit-calc(58.4rem * 1.2);
    width: -moz-calc(58.4rem * 1.2);
    width: calc(58.4rem * 1.2);
    background-image: url(../images/bg-pattern-bottom-desktop.svg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
}
@media only screen and (max-width: 75em) {
    .bg-pattern-bottom {
        height: 36.2rem;
        width: 58.4rem;
    }
}
@media only screen and (max-width: 37.5em) {
    .bg-pattern-bottom {
        background-image: url(../images/bg-pattern-bottom-mobile.svg);
    }
}

.main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 43rem 10rem 1fr;
    grid-template-columns: 43rem 1fr;
    gap: 10rem;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12rem;
}
@media only screen and (max-width: 75em) {
    .main {
        padding: 12rem 5rem;
        gap: 10rem 5rem;
    }
}
@media only screen and (max-width: 56.25em) {
    .main {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 10rem 0;
    }
}
@media only screen and (max-width: 37.5em) {
    .main {
        padding: 8rem 3rem;
    }
}

@media only screen and (max-width: 56.25em) {
    .header {
        text-align: center;
    }
}

.header__title {
    color: #502050;
    font-weight: 700;
    font-size: 5rem;
    margin-bottom: 3rem;
}
@media only screen and (max-width: 37.5em) {
    .header__title {
        font-size: 4rem;
    }
}

.header__sub-title {
    color: #937b92;
    font-weight: 500;
    font-size: 1.6rem;
}
@media only screen and (max-width: 56.25em) {
    .header__sub-title {
        font-size: 1.5rem;
    }
}

.rates {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
@media only screen and (max-width: 56.25em) {
    .rates {
        width: 100%;
    }
}
.rates .rate {
    background-color: #f7f2f7;
    color: #502050;
    padding: 2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.rates .rate:not(:last-of-type) {
    margin-bottom: 3rem;
}
.rates .rate:nth-of-type(1) {
    -webkit-transform: translateX(-8rem);
    -moz-transform: translateX(-8rem);
    -ms-transform: translateX(-8rem);
    -o-transform: translateX(-8rem);
    transform: translateX(-8rem);
}
@media only screen and (max-width: 65.625em) {
    .rates .rate:nth-of-type(1) {
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
    }
}
.rates .rate:nth-of-type(2) {
    -webkit-transform: translateX(-2rem);
    -moz-transform: translateX(-2rem);
    -ms-transform: translateX(-2rem);
    -o-transform: translateX(-2rem);
    transform: translateX(-2rem);
}
@media only screen and (max-width: 65.625em) {
    .rates .rate:nth-of-type(2) {
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
    }
}
.rates .rate:nth-of-type(3) {
    -webkit-transform: translateX(4rem);
    -moz-transform: translateX(4rem);
    -ms-transform: translateX(4rem);
    -o-transform: translateX(4rem);
    transform: translateX(4rem);
}
@media only screen and (max-width: 65.625em) {
    .rates .rate:nth-of-type(3) {
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
    }
}
@media only screen and (max-width: 56.25em) {
    .rates .rate {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}
@media only screen and (max-width: 56.25em) {
    .rates .rate {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
.rates .rate__text {
    font-weight: 700;
    color: #502050;
}
.rates .rate__stars {
    margin-right: 2rem;
}
@media only screen and (max-width: 56.25em) {
    .rates .rate__stars {
        margin: 0;
        margin-bottom: 1rem;
    }
}

.reviews {
    grid-column: 1 / -1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -moz-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}
@media only screen and (max-width: 56.25em) {
    .reviews {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}
.reviews .review {
    background-color: #502050;
    color: #f7f2f7;
    display: -ms-grid;
    display: grid;
    grid-template-columns: -webkit-min-content 1fr;
    -ms-grid-columns: -webkit-min-content 3rem 1fr;
    -ms-grid-columns: min-content 3rem 1fr;
    grid-template-columns: min-content 1fr;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem 3rem;
    padding: 4rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
}
.reviews .review:not(:last-of-type) {
    margin-right: 4rem;
}
@media only screen and (max-width: 56.25em) {
    .reviews .review:not(:last-of-type) {
        margin-right: 0;
        margin-bottom: 4rem;
    }
}
.reviews .review:nth-of-type(2) {
    -webkit-transform: translateY(2rem);
    -moz-transform: translateY(2rem);
    -ms-transform: translateY(2rem);
    -o-transform: translateY(2rem);
    transform: translateY(2rem);
}
@media only screen and (max-width: 65.625em) {
    .reviews .review:nth-of-type(2) {
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
    }
}
.reviews .review:nth-of-type(3) {
    -webkit-transform: translateY(4rem);
    -moz-transform: translateY(4rem);
    -ms-transform: translateY(4rem);
    -o-transform: translateY(4rem);
    transform: translateY(4rem);
}
@media only screen and (max-width: 65.625em) {
    .reviews .review:nth-of-type(3) {
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
    }
}
.reviews .review__img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 5rem;
}
.reviews .review__text {
    grid-column: 1 / -1;
    line-height: 1.7;
}
.reviews .review__user-type {
    color: #ee68a4;
}
