*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    @include mediaQuery($tablet) {
        font-size: 57%;
    }
}

body {
    font-size: 1.5rem;
    font-family: "Spartan", sans-serif;
}
