// colors
$VeryDarkMagenta: hsl(300, 43%, 22%);
$SoftPink: hsl(333, 80%, 67%);
$DarkGrayishMagenta: hsl(303, 10%, 53%);
$LightGrayishMagenta: hsl(300, 24%, 96%);
$White: hsl(0, 0%, 100%);

//breakpoints
$laptop: 75em; //1200px
$laptop-sm: 65.625em; // 1050px
$tablet: 62.5em; // 1000px
$tablet-sm: 56.25em; // 900px
$mobile: 37.5em;
